
* {
	padding: 20px}

body {
	background-color: rgb(200, 200, 200);
	background-color: hsl(0, 0%, 78%);
	padding: 0px}

h1 {
	color: white;
	background-color: DarkCyan;
	background-color: hsl(187, 43%, 39%);
	font-size: 50px }

h2 {
	color:white;
	background-color: #ee3e80;
	background-color: hsl(334, 68%, 48%);
	font-size:30px}

p {
	font-size:20px;
	background-color: white;
	background-color: hsl(0, 0%, 90%);}
